
/*
	Layout
*/

*, *:before, *:after {
   @include box-sizing(border-box);
}

html, body {
	min-width: 320px;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	&.lt-ie9 {
		min-width: $fixed-width;
	}
}

body {
	overflow-y: scroll; /* has to be scroll, not auto */
	-webkit-overflow-scrolling: touch;
}

%container {
	max-width: $fixed-width;
	margin: 0px auto;
	padding: 0px $gutter;
}
.container {
	@extend %container;
	.lt-ie9 & {
		width: $fixed-width;
	}
}