
/*
	Variables
*/

$primary: 					#AC1739;
$primary-dark: 				#81112A;
$secondary: 				#3498DB;
$secondary-dark: 			#217DBB;
$secondary-light: 			#E1F0FA;
$gray-dark: 				#666666;
$gray-lighter: 				#FAFAFA;
$gray-light: 				#EEE;
$gray: 						#999;
$white: 					#FFF;
$black: 					#000;

$facebook:					#3b5998;
$twitter:					#00aced;
$google-plus:				#dd4b39;

$success: 					#27ae60;
$info: 						#3498db;
$error: 					#A94441;

$gutter: 					20px;
$border-radius: 			5px;
$border: 					4px;

/* Medium */
$breakpoint-1-max-width: 	48em;

/* Large */
$breakpoint-2-min-width: 	48em;
$breakpoint-2-max-width: 	64em;

$fixed-width: 				1024px;

$imageLocation: 			"/assets/img";